/* CAROUSELS SECTIONS */
#main .trending-container,
#main .popular-container,
#main .upcoming-container {
    width: var(--g-width);
    max-width: var(--max-width);
    min-width: var(--min-width);
    margin: var(--box-centered-h);
    margin-block-end: var(--spacing-b);
    padding: var(--spacing-m);
    padding-block-start: 0;
}

#main .trending-container .trending-header,
#main .popular-container .popular-header,
#main .upcoming-container .upcoming-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-block-end: var(--spacing-m);
}

#main .trending-container>.trending-header h2,
#main .popular-container>.popular-header h2,
#main .upcoming-container>.upcoming-header h2 {
    font-size: var(--font-size-subTitle);
    font-weight: var(--font-weight-subTitle);
    color: var(--main-black);
}

#main .trending-container>.trending-header button,
#main .popular-container>.popular-header button,
#main .upcoming-container>.upcoming-header button {
    padding: var(--padding-btn);
    border-radius: 6px;
    font-size: var(--font-size-regular);
    font-weight: var(--font-weight-subTitle);
    color: var(--main-black);
}

#main .trending-container>.trending-carousel,
#main .popular-container>.popular-carousel,
#main .upcoming-container>.upcoming-carousel {
    width: var(--g-width);
}

#main .trending-container>.trending-carousel>.wrapper,
#main .popular-container>.popular-carousel>.wrapper,
#main .upcoming-container>.upcoming-carousel>.wrapper {
    display: flex;
    flex-wrap: nowrap;
    gap: 2rem;
    
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
}

#main .trending-container>.trending-carousel>.wrapper::-webkit-scrollbar,
#main .popular-container>.popular-carousel>.wrapper::-webkit-scrollbar,
#main .upcoming-container>.upcoming-carousel>.wrapper::-webkit-scrollbar {
    display: block;
}

#main .trending-container>.trending-carousel>.wrapper.dragging,
#main .popular-container>.popular-carousel>.wrapper.dragging,
#main .upcoming-container>.upcoming-carousel>.wrapper.dragging {
    scroll-behavior: auto;
    scroll-snap-type: none;
}

#main .trending-container>.trending-carousel>.wrapper li,
#main .popular-container>.popular-carousel>.wrapper li,
#main .upcoming-container>.upcoming-carousel>.wrapper li {
    flex: 0 0 auto;
}

#main .trending-container>.trending-carousel>.wrapper.dragging li,
#main .popular-container>.popular-carousel>.wrapper.dragging li,
#main .upcoming-container>.upcoming-carousel>.wrapper.dragging li {
    cursor: grab;
}

/* CATEGORIES SECTION */
#main .categories-container {
    width: var(--g-width);
    max-width: var(--max-width);
    min-width: var(--min-width);
    margin: var(--box-centered-h);
    margin-block-end: var(--spacing-b);
    padding: var(--spacing-m);
    padding-block-start: 0;
}

#main .categories-container h2 {
    text-align: center;
    font-size: var(--font-size-subTitle);
    font-weight: var(--font-weight-subTitle);
    color: var(--main-black);
    margin-block-end: var(--spacing-m);
}

#main .categories-container .categories--list {
    width: var(--g-width);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}